.goods {
  width: 100%;
  min-height: 100%;
  background-image: url(./style/images/background.png);
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: @breakpoint) {
  .goods__container {
    align-items: flex-start;
  }
}

.title {
  font-family: "Exo 2.0";
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
  display: block;
  margin: 10px auto 25px;
  text-align: center;
}

.goods__list {
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.goods__item,
.goods__item_unavailable {
  position: relative;
  width: 324px;
  height: 484px;
  color: #000;
}

.goods__item {
  cursor: pointer;
  padding-bottom: 50px;
  &:hover {
    .goods-item__bg-path {
      stroke: @red;
    }
    .card__ellipse {
      background-color: @red;
    }
  }
  &:nth-child(2) {
    margin: 0 54px;
  }
}

.goods__item_unavailable {
  cursor: default;
  .goods-item__info {
    color: @yellow;
  }
  .card__text,
  .card__title {
    color: @light-gray;
  }
  .goods-item__bg-path {
    stroke: @light-gray;
  }
  .card__ellipse {
    background-color: @light-gray;
  }
  #img-overlay {
    opacity: 0.6;
  }
  &:hover {
    .goods-item__info {
      color: @yellow;
    }
    .goods-item__bg-path {
      stroke: @light-gray;
    }
    .card__ellipse {
      background-color: @light-gray;
    }
  }
}

.goods-item__card {
  position: relative;
  z-index: 1;
  padding: 25px 50px;
  height: 100%;
  box-sizing: border-box;
}

.item_unavailable {
  background-color: gray;
}

.goods-item__bg {
  position: absolute;
}

.card__title {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
  &_sub {
    font-size: 24px;
    margin: 0;
  }
}

.card__text {
  display: block;
  font-size: 14px;
  &_large {
    font-size: 16px;
  }
  &_gray {
    color: @gray;
  }
}

.goods-item__info {
  font-size: 13px;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 12px;
}

.card__ellipse {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  line-height: 30px;
  background-color: @blue;
}

.ellipse__qty,
.ellipse__uom {
  display: block;
  text-align: center;
  color: #ffffff;
}

.ellipse__qty {
  font-size: 42px;
  margin-top: 15px;
}

.ellipse__uom {
  font-size: 21px;
}
