/* layout */

@breakpoint: 1217px;

/* list */

.goods {
  width: 100%;
  height: 100%;
  background-image: url(./style/images/background.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen  and (max-width: @breakpoint) {
    .goods {
        align-items: flex-start;
    }
}

.goods__item {
  position: relative;
  width: 324px;
  height: 484px;
  color: #000;
 
  &:hover {
    .goods-item__bg-path {
      stroke: red;
    }
  }
  &:nth-child(2) {
      margin: 0 54px;
  }
}

@media only screen  and (max-width: @breakpoint) {
    .goods__item {
        &:nth-child(2) {
            margin: 0;
        }
    }
}

.goods-item__card {
  position: relative;
  z-index: 1;
  padding: 25px 50px;
  height: 100%;
  box-sizing: border-box;
}

.item_unavailable {
  background-color: gray;
}

.goods-item__bg {
  position: absolute;
}